.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

.vscode/**
.vscode-test/**
node_modules/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md

